<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<img th:src="@{${product.imageSource}}" alt="gift picture" width="200" height="200">

<form action="/addToCart" method="post" th:object="${product}">
    <input th:field="*{id}" type="hidden">
    <input th:field="*{name}" type="hidden">
    <input th:field="*{imageSource}" type="hidden">
    <input th:field="*{amount}" type="hidden">
    <input th:field="*{price}" type="hidden">
    <input type="submit" value="mua ngay">
</form>
</body>
</html>