<div class="row">
  <div class="col-lg-12 bg-color opacity" style="height: 800px">
    <form [formGroup]="addCustomer" (ngSubmit)="add()" (change)="changeStatus('','')" class="form-group m-5 p-5">
      <h4 class="margin-left-220">Register new account!</h4><br>
      <h6 class="margin-left-220">Account</h6>
      <div class="form-group row" style="margin-top: 20px">
        <label class="col-sm-2 col-form-label" style="text-align: right">ID</label>
        <div class="col-sm-5">
          <input formControlName="id" class="form-control" type="text" placeholder="KH-XXXX">
        </div>
        <span class="text-danger" *ngIf="(addCustomer.get('id').hasError('pattern') ||
          addCustomer.get('id').hasError('required')) &&
          addCustomer.get('id').touched">
              format KH-XXXX!
          </span>
      </div>
      <div class="form-group row" style="margin-top: 20px">
        <label class="col-sm-2 col-form-label" style="text-align: right">Name</label>
        <div class="col-sm-5">
          <input formControlName="name" class="form-control" type="text">
        </div>
        <span class="text-danger" *ngIf="(addCustomer.get('name').hasError('pattern') ||
          addCustomer.get('name').hasError('required')) &&
          addCustomer.get('name').touched">
              from 1 to 32 character !
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Type customer</label>
        <div class="col-sm-5">
          <input formControlName="typeCus" class="form-control" type="text">
        </div>
        <span class="text-danger" *ngIf="addCustomer.get('typeCus').hasError('required') &&
          addCustomer.get('typeCus').touched">
            not empty !
          </span>
      </div>
      <br>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Birthday</label>
        <div class="col-sm-5">
          <input formControlName="birthday" class="form-control" type="text">
        </div>
        <span class="text-danger" *ngIf="addCustomer.get('birthday').hasError('required') &&
          addCustomer.get('birthday').touched">
            not empty !
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">ID card</label>
        <div class="col-sm-5">
          <input formControlName="idCard" class="form-control" type="text">
        </div>
        <span class="text-danger" *ngIf="(addCustomer.get('idCard').hasError('pattern') ||
          addCustomer.get('idCard').hasError('required')) &&
          addCustomer.get('idCard').touched">
            format XXXXXXXX !
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Phone number</label>
        <div class="col-sm-5">
          <input formControlName="phoneNumber" class="form-control" type="text">
        </div>
        <span class="text-danger" *ngIf="(addCustomer.get('phoneNumber').hasError('pattern') ||
          addCustomer.get('phoneNumber').hasError('required')) &&
          addCustomer.get('phoneNumber').touched">
           format XXXXXXXXXX !
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Email</label>
        <div class="col-sm-5">
          <input formControlName="email" class="form-control" type="text" placeholder="abc@abc.abc">
        </div>
        <span class="text-danger" *ngIf="(addCustomer.get('email').hasError('pattern') ||
          addCustomer.get('email').hasError('required')) &&
          addCustomer.get('email').touched">
           format abc@abc.abc !
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Address</label>
        <div class="col-sm-5">
          <input formControlName="address" class="form-control" type="text">
        </div>
        <span class="text-danger" *ngIf="addCustomer.get('address').hasError('required') &&
          addCustomer.get('address').touched">
            not empty !
          </span>
      </div>
      <div class="row" style="height: 2em">
        <h6 style="color: green; margin-left: 223px">{{success}}</h6>
        <h6 style="color: red">{{failure}}</h6>
      </div>
      <button [disabled]="addCustomer.invalid" type="submit" class="btn btn-primary"
              style="margin-left: 300px">Create
      </button>
      <button (click)="returnListPage()" type="submit" class="btn btn-primary" style="margin-left: 200px">return list page
      </button>
    </form>
  </div>
</div>
