<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <script src="add-customer.component.ts"></script>
</head>
<body
  style="background-image: url('assets/image/background.gif'); background-attachment: fixed; background-size: 500px">

<div class="container-fluid">
  <!-- NAV bar -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 p-0 fixed-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="assets/image/word/furama-logo.png" alt="furama-logo" style="width: 45px; height: 40px">
        <a class="navbar-brand" style="font-style: italic; margin-left: -9px" href="#">URAMA</a>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mt-1">
            <li class="nav-item ml-2">
              <a class="nav-link"
                 href="http://localhost:63342/casestudy_layout/furama_home.html?_ijt=eirockuji5corhrmvaji1bmuf0">home</a>
            </li>
            <li class="nav-item dropdown ml-2">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                service
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"
                   href="http://localhost:63342/casestudy_layout/all-service.html?_ijt=7h3neubkm19ac39ceethp1n2g1">all
                  service</a>
                <a class="dropdown-item"
                   href="http://localhost:63342/casestudy_layout/add-service.html?_ijt=3plq07m6gebkvqk87cu7fn65so">add
                  service</a>
              </div>
            </li>
            <li class="nav-item dropdown ml-2">
              <a class="nav-link dropdown-toggle" href="#" id="navbarNav" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                customer
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"
                   href="http://localhost:63342/casestudy_layout/all-customer.html?_ijt=i05pgs2s0e56huasd371r8mc09">all
                  customer</a>
                <a class="dropdown-item"
                   href="http://localhost:63342/casestudy_layout/add-customer.html?_ijt=g86h9797el59vb5biifuiihrfp">add
                  customer</a>
              </div>
            </li>
            <li class="nav-item dropdown ml-2">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                contract
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">all contract</a>
                <a class="dropdown-item"
                   href="http://localhost:63342/casestudy_layout/add-contract.html?_ijt=c2882k5374c5q6atl6dk09u724">add
                  contract</a>
              </div>
            </li>

            <li class="nav-item dropdown ml-2">
              <a class="nav-link dropdown-toggle" href="#" id="navbarNavAltMarkup" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                employee
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"
                   href="http://localhost:63342/casestudy_layout/all-employee.html?_ijt=jq8aroe7ihenmi6p6dkqhcabv0">all
                  employee</a>
                <a class="dropdown-item"
                   href="http://localhost:63342/casestudy_layout/add-employee.html?_ijt=t4kcifaf42vq2dh1lbrgajacp1">add
                  employee</a>
              </div>
            </li>
          </ul>
          <form [formGroup]="" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 bg-color opacity" style="height: 800px">
      <form [formGroup]="addCustomer" class="form-group m-5 p-5">
        <h4 class="margin-left-220">Register new account!</h4><br><br>
        <h6 class="margin-left-220">Account</h6>
        <div class="form-group row" style="margin-top: 20px">
          <label class="col-sm-2 col-form-label" style="text-align: right">ID</label>
          <div class="col-sm-5">
            <input formControlName="id" class="form-control" type="text" placeholder="KH-XXXX">
          </div>
          <span class="text-danger" *ngIf="(addCustomer.get('id').hasError('pattern') ||
          addCustomer.get('id').hasError('required')) &&
          addCustomer.get('id').touched">
              format KH-XXXX!
          </span>
        </div>
        <div class="form-group row" style="margin-top: 20px">
          <label class="col-sm-2 col-form-label" style="text-align: right">Name</label>
          <div class="col-sm-5">
            <input formControlName="name" class="form-control" type="text">
          </div>
          <span class="text-danger" *ngIf="(addCustomer.get('name').hasError('pattern') ||
          addCustomer.get('name').hasError('required')) &&
          addCustomer.get('name').touched">
              from 1 to 32 character !
          </span>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" style="text-align: right">Type customer</label>
          <div class="col-sm-5">
            <input formControlName="typeCus" class="form-control" type="text">
          </div>
          <span class="text-danger" *ngIf="addCustomer.get('typeCus').hasError('required') &&
          addCustomer.get('typeCus').touched">
            not empty !
          </span>
        </div>
        <br>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" style="text-align: right">Birthday</label>
          <div class="col-sm-5">
            <input formControlName="birthday" class="form-control" type="text">
          </div>
          <span class="text-danger" *ngIf="addCustomer.get('birthday').hasError('required') &&
          addCustomer.get('birthday').touched">
            not empty !
          </span>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" style="text-align: right">ID card</label>
          <div class="col-sm-5">
            <input formControlName="idCard" class="form-control" type="text">
          </div>
          <span class="text-danger" *ngIf="(addCustomer.get('idCard').hasError('pattern') ||
          addCustomer.get('idCard').hasError('required')) &&
          addCustomer.get('idCard').touched">
            format XXXXXXXX !
          </span>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" style="text-align: right">Phone number</label>
          <div class="col-sm-5">
            <input formControlName="phoneNumber" class="form-control" type="text">
          </div>
          <span class="text-danger" *ngIf="(addCustomer.get('phoneNumber').hasError('pattern') ||
          addCustomer.get('phoneNumber').hasError('required')) &&
          addCustomer.get('phoneNumber').touched">
           format XXXXXXXXXX !
          </span>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" style="text-align: right">Email</label>
          <div class="col-sm-5">
            <input formControlName="email" class="form-control" type="text" placeholder="abc@abc.abc">
          </div>
          <span class="text-danger" *ngIf="(addCustomer.get('email').hasError('pattern') ||
          addCustomer.get('email').hasError('required')) &&
          addCustomer.get('email').touched">
           format abc@abc.abc !
          </span>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" style="text-align: right">Address</label>
          <div class="col-sm-5">
            <input formControlName="address" class="form-control" type="text">
          </div>
          <span class="text-danger" *ngIf="addCustomer.get('address').hasError('required') &&
          addCustomer.get('address').touched">
            not empty !
          </span>
        </div>
        <button [disabled]="addCustomer.invalid" (click)="add()" type="submit" class="btn btn-primary" style="margin-left: 300px">Create</button>
      </form>

    </div>
  </div>
</div>

<script>
  $('.carousel').carousel({
    interval: 3000
  })
</script>
</body>
</html>
