/*light blue*/
div.header{
    height: auto;
    margin-top: 0;
    background-color: #D9EDF7;
}

/*medium blue*/
.md-blue{
   background-color: rgb(82, 188, 220);
}

.font{
    font-family: Arial,serif;
    font-size: 16px;
}

thead.header{
    background-color: #DFF0D8;
}

form.custom{
    width: 100%;
    height: auto;
    border-radius: 6px;
    border: 1.5px solid #b5dcf7;
}

div.header-border{
    border-radius: 6px 6px 0 0;
    border-bottom: 1.5px solid #b5dcf7;
}

div.input-shadow{
    box-shadow: none;
}

.input-shadow:hover {
    background-color: #FCF8E3;
    box-shadow: 2px 2px 4px 4px #FCF8E3;
    transition: all ease 0.25s;
}

#input-shadow:hover {
    background-color: #DFF0D8;
    box-shadow: -2px -2px 0 -4px #DFF0D8;
    transition: all ease 0.25s;
}
/*------------------------------------------------------------------------------------------------------*/
/*đỏ: #F2DEDE
  xanh: #D9EDF7
  xanh lá: #DFF0D8
  vàng: #FCF8E3
*/
