<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Register Page</h3>
<form action="/register" method="post" accept-charset="UTF-8" th:object="${user}">
    <input th:field="*{firstName}" placeholder="First Name"/><br>
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p><br>

    <input th:field="*{lastName}" placeholder="Last Name"/><br><br>
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

    <input th:field="*{email}" placeholder="Email Address"/><br><br>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

    <input type="number" th:field="*{old}" placeholder="Old"/><br><br>
    <p th:if="${#fields.hasErrors('old')}" th:errors="*{old}"></p>
    <input type="submit" value="register">
</form>

</body>
</html>