<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="fixed-left">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">

            <div class="nav-item dropright active" style="margin-bottom: 10px">
                <a class="dropdown-toggle btn btn-info active" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Service
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/allVilla}">Villa Manage</a>
                    <a class="dropdown-item" th:href="@{/allHouse}">House Manage</a>
                    <a class="dropdown-item" th:href="@{/allRoom}">Room Manage</a>
                    <a class="dropdown-item" th:href="@{/allAccompaniedService}">Accompanied Service Manage</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/addVilla}">Add new Villa</a>
                    <a class="dropdown-item" th:href="@{/addHouse}">Add new House</a>
                    <a class="dropdown-item" th:href="@{/addRoom}">Add new Room</a>
                    <a class="dropdown-item" th:href="@{/addAccompaniedService}">Add new Accompanied Service</a>
                </div>

            </div>

            <div class="nav-item dropright active" style="margin-bottom: 10px">
                <a class="dropdown-toggle btn btn-success active" href="#" id="dropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Customer
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/getAllCustomer}">Customer Manage</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/allTypeCustomer}">typeCustomer Manage</a>
                </div>
            </div>

            <div class="nav-item dropright active" style="margin-bottom: 10px">
                <a class="dropdown-toggle btn btn-warning active" href="#" id="dropdownMenu2" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Employee
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/allEmployee}">Employee Manage</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/allDepartment}">Department Manage</a>
                    <a class="dropdown-item" th:href="@{/allLiteracy}">Literacy Manage</a>
                    <a class="dropdown-item" th:href="@{/allPosition}">Position Manage</a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler btn btn-info" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
            admin
        </button>
    </nav>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" th:href="@{/}" aria-label="Search" id="floatLeft">FURAMA RESORT</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" style="margin-right: 25px">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" style="margin-right: 25px">
                <a class="nav-link" th:href="@{/home(service=house)}">House <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" style="margin-right: 25px">
                <a class="nav-link" th:href="@{/home(service=room)}">Room <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <a th:href="@{/}" class="btn btn-secondary active" role="button" aria-pressed="true" style="margin-right: 50px">logout</a>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<h1>register</h1>

<form action="/doRegister" method="post" accept-charset="UTF-8" th:object="${customer}">
    <h3>create an account</h3>

    <input th:field="*{userName}" placeholder="username"><br><br>
    <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>

    <input th:field="*{passWord}" type="password" placeholder="password"><br><br>
    <p th:if="${#fields.hasErrors('passWord')}" th:errors="*{passWord}"></p>

    <h3>personal information</h3>
    <input th:field="*{firstName}" placeholder="first name"><br><br>
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

    <input th:field="*{lastName}" placeholder="last name"><br><br>
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

    <select th:field="*{typeCustomer.id}">
        <option th:each="typeCustomer : ${typeCustomers}"
                th:value="${typeCustomer.id}" th:text="${typeCustomer.name}"></option>
    </select>

    <input type="submit" value="register">

    <input th:field="*{id}" type="hidden">
</form>

</body>
</html>
