<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/editing" method="post" th:object="${blog}">
    <input th:field="*{title}" type="text" name="title" placeholder="Title"><br><br>
    <textarea th:field="*{content}" name="content" placeholder="Content" style="background: aliceblue; width: 500px; height: 300px"></textarea><br><br>
    <input type="submit" value="Update">
    <input th:field="*{id}" type="hidden" name="id">
</form>
</body>
</html>