<div class="row">
  <div class="col-lg-12 opacity bg-color">
    <form [formGroup]="addContract" (ngSubmit)="add()" class="form-group m-5 p-5">
      <h4 class="margin-left-220">Add new contract</h4><br>
      <div class="form-group row" style="margin-top: 20px">
        <label class="col-sm-2 col-form-label" style="text-align: right">Customer</label>
        <div class="col-sm-5">
          <input formControlName="customer" class="form-control">
        </div>
        <span class="text-danger" *ngIf="addContract.get('customer').hasError('pattern') &&
          addContract.get('customer').touched">
            wrong customer name!
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">house</label>
        <div class="col-sm-5">
          <input formControlName="house" class="form-control">
        </div>
        <span class="text-danger" *ngIf="addContract.get('house').hasError('pattern') &&
          addContract.get('house').touched">
            wrong house name!
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">villa</label>
        <div class="col-sm-5">
          <input formControlName="villa" class="form-control">
        </div>
        <span class="text-danger" *ngIf="addContract.get('villa').hasError('pattern') &&
          addContract.get('villa').touched">
            wrong villa name!
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">room</label>
        <div class="col-sm-5">
          <input formControlName="room" class="form-control">
        </div>
        <span class="text-danger" *ngIf="addContract.get('room').hasError('pattern') &&
          addContract.get('room').touched">
            wrong room name!
          </span>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">contractdetail</label>
        <div class="col-sm-5">
          <input formControlName="contractDetail" class="form-control">
        </div>
        <span class="text-danger" *ngIf="addContract.get('contractDetail').hasError('pattern') &&
          addContract.get('contractDetail').touched">
            wrong contractDetail name!
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">deposits</label>
        <div class="col-sm-5">
          <input formControlName="deposits" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">dateStartRent</label>
        <div class="col-sm-5">
          <input formControlName="dateStartRent" class="form-control" type="date">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">dateEndRent</label>
        <div class="col-sm-5">
          <input formControlName="dateEndRent" class="form-control" type="date">
        </div>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-left: 300px">Create</button>
    </form>
  </div>
</div>
