<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/editing" method="post">
    <input th:value="${title}" type="text" name="title" placeholder="Title"><br><br>
    <input th:value="${content}" name="content" placeholder="Content" style="background: aliceblue; width: 800px; height: 50px"><br><br>
    <input type="submit" value="Update">
    <input th:value="${id}" type="number" name="id" hidden>
</form>
</body>
</html>