<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/addingContract" method="post" th:object="${contract}">
    <h3>add new contract</h3>

    <input th:field="*{id}" type="hidden">

    <input th:field="*{dateStartRent}"><br><br>

    <input th:field="*{dateEndRent}"><br><br>

    <input th:field="*{deposits}"><br><br>

    <input th:field="*{totalPrice}"><br><br>

    <input type="submit" value="create">

</form>

<a href="/home">home</a>

<p th:text="${message}"></p>

</body>
</html>