<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/createCategory}">Create Category</a><br>
<a th:href="@{/createBlog}">Create Blog</a>

<h1>MY BLOG</h1>

<form action="/home" method="get">
    <input type="text" name="keyWord" placeholder="type here to search">
    <input type="submit" value="search">
</form><br>

<table border="1px">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>View posts</td>
        <td>edit</td>
        <td>delete</td>
    </tr>
    <th:block th:each="category : ${categories}" th:object="${category}">
        <tr>
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td><a th:href="@{/viewPost(id=*{id})}">view post</a></td>
            <td><a th:href="@{/editCategory(id=*{id})}">edit</a></td>
            <td><a th:href="@{/deleteCategory(id=*{id})}">delete</a></td>
        </tr>
    </th:block>
</table><br>

<p th:text="${message}"></p>

<a th:if="${categories.hasPrevious()}" th:href="@{/home(page=${categories.getNumber()})}">previous</a>
<span th:text="${categories.number + 1}"></span>/<span th:text="${categories.totalPages}"></span>
<a th:if="${categories.hasNext()}" th:href="@{/home(page=${categories.getNumber() + 2})}">next</a>

</body>
</html>