<div class="row">
  <div class="col-lg-12 mt-5 p-5 bg-color opacity">
    <table class="table" border="1px" style="text-align: center">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">type customer</th>
        <th scope="col">email</th>
        <th scope="col">idCard</th>
        <th scope="col">phone number</th>
        <th scope="col">birthday</th>
        <th scope="col">address</th>
        <th scope="col">edit</th>
        <th scope="col">delete</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let customer of customers">
        <th scope="row">{{customer.id}}</th>
        <td>{{customer.name}}</td>
        <td>{{customer.typeCus}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.idCard}}</td>
        <td>{{customer.phoneNumber}}</td>
        <td>{{customer.birthday}}</td>
        <td>{{customer.address}}</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
