<div class="row">
  <div class="col-lg-12 mt-5 p-5 bg-color opacity">
    <table class="table" border="1px" style="text-align: center">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">birthday</th>
        <th scope="col">idCard</th>
        <th scope="col">phoneNumber</th>
        <th scope="col">email</th>
        <th scope="col">edit</th>
        <th scope="col">delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let e of employees">
        <th scope="row">{{e.id}}</th>
        <td>{{e.name}}</td>
        <td>{{e.birthday}}</td>
        <td>{{e.idCard}}</td>
        <td>{{e.phoneNumber}}</td>
        <td>{{e.email}}</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <br>
  </div>
</div>
