<div class="row">
  <div class="col-lg-12 bg-color opacity">
    <form [formGroup]="addService" (ngSubmit)="update()" (change)="changeStatus()" class="form-group m-5 p-5">
      <h6 style="color: green">{{status}}</h6>
      <h4 class="margin-left-220">Update Service</h4><br>

      <div class="form-group row" style="margin-top: 20px">
        <div class="col-sm-5">
          <input formControlName="id" class="form-control" placeholder="DV_XXXX" hidden>
        </div>
        <span class="text-danger" *ngIf="addService.get('id').hasError('pattern') ||
          addService.get('id').hasError('required') &&
          addService.get('id').touched">
            format DV-XXXX!
          </span>
      </div>

      <div class="form-group row" style="margin-top: 20px">
        <label class="col-sm-2 col-form-label" style="text-align: right">Name</label>
        <div class="col-sm-5">
          <input formControlName="name" class="form-control">
        </div>
        <span class="text-danger" *ngIf="addService.get('name').hasError('pattern') ||
          addService.get('name').hasError('required') &&
          addService.get('name').touched">
            from 1 to 32 character!
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Room standard</label>
        <div class="col-sm-5">
          <input formControlName="roomStandard" class="form-control">
        </div>
        <span class="text-danger" *ngIf="addService.get('roomStandard').hasError('required') &&
          addService.get('roomStandard').touched">
            not empty!
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Rent type</label>
        <div class="col-sm-5">
          <input formControlName="rentType" class="form-control">
        </div>
        <span class="text-danger" *ngIf="addService.get('rentType').hasError('required') &&
          addService.get('rentType').touched">
            not empty!
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Rent price</label>
        <div class="col-sm-5">
          <input formControlName="rentPrice" class="form-control" type="number">
        </div>
        <span class="text-danger" *ngIf="addService.get('rentPrice').hasError('min') ||
          addService.get('rentPrice').hasError('required') &&
          addService.get('rentPrice').touched">
            wrong price!
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Pool area</label>
        <div class="col-sm-5">
          <input formControlName="poolArea" class="form-control" type="number">
        </div>
        <span class="text-danger" *ngIf="addService.get('poolArea').hasError('min') ||
          addService.get('poolArea').hasError('max') ||
          addService.get('poolArea').hasError('required') &&
          addService.get('poolArea').touched">
            from 12 to 169 m2
          </span>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Number of floor</label>
        <div class="col-sm-5">
          <input formControlName="numberOfFloor" class="form-control" type="number">
        </div>
        <span class="text-danger" *ngIf="addService.get('numberOfFloor').hasError('min') ||
          addService.get('numberOfFloor').hasError('max') ||
          addService.get('numberOfFloor').hasError('required') &&
          addService.get('numberOfFloor').touched">
            from 1 to 10 floor
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Max people</label>
        <div class="col-sm-5">
          <input formControlName="maxPeople" class="form-control" type="number">
        </div>
        <span class="text-danger" *ngIf="addService.get('maxPeople').hasError('min') ||
          addService.get('maxPeople').hasError('max') ||
          addService.get('maxPeople').hasError('required') &&
          addService.get('maxPeople').touched">
            from 1 to 20 people
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Image source</label>
        <div class="col-sm-5">
          <input formControlName="imageSource" class="form-control">
        </div>
        <span class="text-danger" *ngIf="addService.get('imageSource').hasError('required') &&
          addService.get('imageSource').touched">
            not empty!
          </span>
      </div>
      <button [disabled]="addService.invalid" type="submit" class="btn btn-primary" style="margin-left: 300px">Create
      </button>
    </form>
  </div>
</div>
