<div class="row">
  <div class="col-lg-12 bg-color opacity" style="height: 800px">
    <form *ngIf="updateCustomer" [formGroup]="updateCustomer" (ngSubmit)="update()" (change)="changeStatus()" class="form-group m-5 p-5">
      <h6 style="color: green">{{status}}</h6>
      <h4 class="margin-left-220">Register new account!</h4><br>
      <h6 class="margin-left-220">Account</h6>
      <div class="form-group row" style="margin-top: 20px">
        <div class="col-sm-5">
          <input formControlName="id" class="form-control" type="text" placeholder="KH-XXXX" hidden>
        </div>
        <span class="text-danger" *ngIf="(updateCustomer.get('id').hasError('pattern') ||
          updateCustomer.get('id').hasError('required')) &&
          updateCustomer.get('id').touched">
              format KH-XXXX!
        </span>
      </div>
      <div class="form-group row" style="margin-top: 20px">
        <label class="col-sm-2 col-form-label" style="text-align: right">Name</label>
        <div class="col-sm-5">
          <input formControlName="name" class="form-control" type="text">
        </div>
        <span class="text-danger" *ngIf="(updateCustomer.get('name').hasError('pattern') ||
          updateCustomer.get('name').hasError('required')) &&
          updateCustomer.get('name').touched">
              from 1 to 32 character !
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Type customer</label>
        <div class="col-sm-5">
          <input formControlName="typeCus" class="form-control" type="text">
        </div>
        <span class="text-danger" *ngIf="updateCustomer.get('typeCus').hasError('required') &&
          updateCustomer.get('typeCus').touched">
            not empty !
          </span>
      </div>
      <br>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Birthday</label>
        <div class="col-sm-5">
          <input formControlName="birthday" class="form-control" type="text">
        </div>
        <span class="text-danger" *ngIf="updateCustomer.get('birthday').hasError('required') &&
          updateCustomer.get('birthday').touched">
            not empty !
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">ID card</label>
        <div class="col-sm-5">
          <input formControlName="idCard" class="form-control" type="text">
        </div>
        <span class="text-danger" *ngIf="(updateCustomer.get('idCard').hasError('pattern') ||
          updateCustomer.get('idCard').hasError('required')) &&
          updateCustomer.get('idCard').touched">
            format XXXXXXXX !
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Phone number</label>
        <div class="col-sm-5">
          <input formControlName="phoneNumber" class="form-control" type="text">
        </div>
        <span class="text-danger" *ngIf="(updateCustomer.get('phoneNumber').hasError('pattern') ||
          updateCustomer.get('phoneNumber').hasError('required')) &&
          updateCustomer.get('phoneNumber').touched">
           format XXXXXXXXXX !
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Email</label>
        <div class="col-sm-5">
          <input formControlName="email" class="form-control" type="text" placeholder="abc@abc.abc">
        </div>
        <span class="text-danger" *ngIf="(updateCustomer.get('email').hasError('pattern') ||
          updateCustomer.get('email').hasError('required')) &&
          updateCustomer.get('email').touched">
           format abc@abc.abc !
          </span>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" style="text-align: right">Address</label>
        <div class="col-sm-5">
          <input formControlName="address" class="form-control" type="text">
        </div>
        <span class="text-danger" *ngIf="updateCustomer.get('address').hasError('required') &&
          updateCustomer.get('address').touched">
            not empty !
          </span>
      </div>
      <button [disabled]="updateCustomer.invalid" type="submit" class="btn btn-primary"
              style="margin-left: 300px">Update
      </button>
    </form>

  </div>
</div>
