div.selector-bar {
  background-color: aliceblue;
  opacity: 85%;
  margin-top: 80px;
  text-align: center;
  padding: 50px;
  border-radius: 5px;
  border: 2px #0f6674;
}

select.size {
  width: 300px;
  height: 40px;
}

input.size {
  margin-top: 30px;
  width: 150px;
  height: 40px;
}

div.card-size-position {
  height: 500px;
  padding: 20px;
  opacity: 95%;
  text-align: left;
  background-color: #e5e5e5;
  margin-bottom: 27px;
}

div.card-size-position:hover {
  opacity: 100%;
  background-color: white;
}

div.slide-optimize {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.bg-color {
  background-color: #e5e5e5;
}

img.size {
  width: 438px;
  height: 300px;
}

.font-size {
  font-size: 14px;
}

div.slide-opacity {
  opacity: 90%
}

div.slide-opacity:hover {
  opacity: 100%
}

.opacity{
  opacity: 90%
}

.margin-left-220{
  margin-left: 222px;
}
